{%  extends 'base.html.twig'%}

{% block title %} Symfony tech test {% endblock %}

{% block body %}

<h1 style="font-size: 22px; display:flex; Justify-content: center" class="mt-3" >Welcome! If you currently have no/insufficient data, you can create a new one 
<a href="/create">here</a>
</h1>
{% for supplier in suppliers %}
<div>
       <div class="container mt-5 col" style="max-width: fit-content">
            <div class="row">
                <div>
                    <div class="card p-3">
                        <div class="mb-3">
                            <div class="d-flex flex-column mb-1 font-weight-bold"><span>{{supplier.name}}</span>
                            <div class="d-flex flex-column mb-1"><span>{{supplier.email}}</span>
                            <div class="d-flex flex-column mb-1"><span>{{supplier.phone}}</span>
                        </div>
                        <h6>Get more context on your users with stripe data inside our platform.</h6>
                        <div class="d-flex justify-content-between align-items-center install mt-3 mb-3">
                            <span class="p-1 btn-warning">{{supplier.type}}</span>
                            <span class="text-primary ">View</span>
                        </div>
                        <div class=" buttons d-flex flex-row ml-0">
                            <button><a href="/delete/{{ supplier.id }}" >Delete</a></button>
                            <button><a href="/create" >Create</a></button>
                            <button><a href="/edit/{{ supplier.id }}" >Edit</a></button>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
{% endfor %}
{% for message in app.flashes('notice') %}
   <div class="alert alert-success">
   {{message}}
   </div>
{% endfor %}

{% endblock %}
{% block javascripts %}
  <script src="/js/supplier.js"></script>
{% endblock %}


{# <div>
       <div class="container mt-5">
            <div class="row">
                <div class="col-md-6">
                    <div class="card p-3">
                        <div class="d-flex flex-row mb-3">
                            <div class="d-flex flex-column mb-1"><span>{{supplier.name}}</span>
                            <div class="d-flex flex-column mb-1"><span>{{supplier.email}}</span>
                            <div class="d-flex flex-column mb-1"><span>{{supplier.phone}}</span>
                        </div>
                        <h6>Get more context on your users with stripe data inside our platform.</h6>
                        <div class="d-flex justify-content-between install mt-3"><span>Installed 172 times</span><span class="text-primary">View&nbsp;<i class="fa fa-angle-right"></i></span></div>
                        <button><a href="/delete/{{ supplier.id }}" >Delete</a></button>
                        <button><a href="/create" >Create</a></button>
                        <button><a href="/edit/{{ supplier.id }}" >Edit</a></button>
                    </div>
                </div>
            </div>
        </div> #}